@tailwind base;
@tailwind components;

@font-face {
  font-family: "Bw Nista Geometric DEMO";
  src: url(/src/fonts/BwNistaGeometricDEMORegular.otf);
}

@font-face {
  font-family: "Bw Nista Geometric DEMO Bold";
  src: url(/src/fonts/BwNistaGeometricDEMOMedium.otf);
}

@font-face {
  font-family: "Bw Nista Geometric DEMO Thin";
  src: url(/src/fonts/BwNistaGeometricDEMOThin.otf);
}

@tailwind utilities;
