@tailwind base;
@tailwind components;

@font-face {
  font-family: "Bw Nista Geometric DEMO";
  src: url("../assets/fonts/BwNistaGeometricDEMORegular.otf");
}

@font-face {
  font-family: "Bw Nista Geometric DEMO Bold";
  src: url("../assets/fonts/BwNistaGeometricDEMOMedium.otf");
}

@font-face {
  font-family: "Bw Nista Geometric DEMO Thin";
  src: url("../assets/fonts/BwNistaGeometricDEMOThin.otf");
}

@tailwind utilities;
