body {
  color: #1a1a1a;
}

.menu {
  font-size: 3rem;
  margin-left: 1rem;
}

.navbar {
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu__bars {
  font-size: 1rem;
  background: none;
}

.nav__menu {
  background-color: #0a459f;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav__menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #ffffff;
  color: #1a1a1a;
}

.nav__menu__items {
  width: 100%;
}

.navbar__toggle {
  /* background-color: #060b26; */
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/* check */

.user__info img {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  object-fit: cover;
}

.user__info {
  display: flex;
}

.label-text {
  margin-top: -8px;
  margin-left: 15px;
  background: white;
  padding: 0px 2px;
}

.input-box {
  margin-top: 2rem;
  border: 1px solid #0a459f;
  border-radius: 10px;
  margin-bottom: 0.8rem;
  overflow: hidden;
}

/* .box {
  box-shadow: 0px 0px 0px 2px #0a459f 19%;
} */

.footer-text {
  font-size: 0.58rem;
  letter-spacing: 0.2rem;
}

.slim-border {
  border: 0.5px solid #0a459f;
}

.middle-border {
  border-top: 0.5px solid #0a459f;
  border-bottom: 0.5px solid #0a459f;
}

.btn-border {
  border: 1.5px solid #0a459f;
}

.secure {
  height: 16rem;
  width: 31rem;
}

.nav-links {
  font-size: 13px;
}

.height {
  height: 0.15rem;
}

.outline {
  outline: none;
}

.circle {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 1px solid #0a459f;
}

.picture {
  margin-top: 4.28rem;
}

.private {
  margin-top: 30rem;
}

.slim-ash-border {
  border: 0.5px solid #808080;
}

.picture-border {
  border: 0.14px solid #808080;
}

.career-width {
  width: 48%;
}

.meeting-icon {
  width: 12%;
}

.lineHeight {
  line-height: 1.2;
}

.lightAsh {
  color: #1a1a1a;
}

.footerText {
  font-size: 0.85rem;
}

.inner-picture {
  margin-right: -4.61rem;
}

.track {
  letter-spacing: 0.2rem;
}

.learn {
  margin-left: 2.7rem;
}

.playStore {
  width: 44%;
}

@media screen and (min-width: 1024px) {
  .button {
    margin-left: 32rem;
  }
}
