@tailwind base;
@tailwind components;

@font-face {
  font-family: "Bw Nista Geometric DEMO";
  src: url(fonts/BwNistaGeometricDEMORegular.otf);
}

@font-face {
  font-family: "Bw Nista Geometric DEMO Bold";
  src: url(fonts/BwNistaGeometricDEMOMedium.otf);
}

@font-face {
  font-family: "Bw Nista Geometric DEMO Thin";
  src: url(fonts/BwNistaGeometricDEMOThin.otf);
}

@tailwind utilities;
